# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Clang Format'
      'submenu': [
        { 'label': 'Format', 'command': 'clang-format:format' }
      ]
    ]
  }
]
